@using Model.ViewModel
@model EmployeeViewModel
@{
	ViewData["Title"] = "Login Page";
}

<body class="bg-dark">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
								<div class="card-body">
									@using (Html.BeginForm("OnLogin", "Login", FormMethod.Post))
									{
										<div class="form-floating mb-3">
											@* <input class="form-control" id="Email" type="text" placeholder="Email" asp-for="Email" required="required" /> *@
											@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required" })
											<label for="Email">Email address</label>
										</div>
										<div class="form-floating mb-3">
											@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "required", @type = "password" })
											@* <input class="form-control" id="Password" type="password" placeholder="Password" asp-for="Password" required="required" /> *@
											<label for="Password">Password</label>
										</div>
										<div class="form-check mb-3">
											<input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
											<label class="form-check-label" for="inputRememberPassword">Remember Password</label>
										</div>
										<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
											<a class="small" href="password.html">Forgot Password?</a>
											@* @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "required", @type = "password" }) *@
											<button class="btn btn-primary" type="submit">Login</button>
										</div>
									}
								</div>

								<div class="card-footer text-center py-3">
									<div class="small"><a href="~/Login/SignUp">Need an account? Sign up!</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
		</div>
	</div>
</body>
 